.headerdown__info {
  display: flex;
  margin-left: 90px;
  align-items: center;
  padding: 2px;
  justify-content: space-between;
  color: white;
  margin-right: auto;
  flex: 1;
  pointer-events: all;
}
.headerdown {
  display: flex;
  background-color: #232f3e;
  height: 39px;
  padding-top: 0;
}
.menuItems {
  position: sticky;
  top: 0;
}
.headerdown__info h4 {
  margin: 2px;
}
.headerdown__covid {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 100px;
}
span :hover {
  border: 1px solid white;
}
